apiVersion: v1
kind: Secret
metadata:
  name: cloud-config
  namespace: kube-system
type: Opaque
stringData:
  cloud.conf: |
    [Global]
    auth-url=https://auth.cloud.ovh.net/v3
    domain-name=Default
    region=WAW1
    username=***
    password=***
    tenant-id=***
